ul {
  list-style: none;
  color: #503726;
  font-size: 30px;
  padding-right: 40px;
   }


img {
  width: 100%;


}

header {
  background-image: url("../Images/banner.jpg");
  height: 200px; 
  padding-top: 50px;}



  
