// color pallette
// $navcolor: #503726;




ul {
  list-style: none;
  color: #503726;
  font-size: 9px;
  
}

nav 

//img {
  //width: 1300px
  ;
 // height: 200px;//
  



}

header {
background-image: url("../Images/banner.jpg");
width: 100%;
height: 100%;
margin: 20 20 20 20;



}